name: Push

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Apps
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "12.x"
          cache: 'gradle'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.2'
          channel: 'stable'
          cache: true

      - name: Install pub Dependencies
        run: flutter pub get

      - name: Generate JSON serialization code for models
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Run flutter analyzer
        run: flutter analyze

      - name: Run Tests
        run: flutter test

      - name: Build Android App
        run: |
          flutter build apk
          ls -la
